button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: ""; clear: both; height: 0;}

body {
  font-size: 14px;
  font-family: 'Karla', 'Sans Serif';
}

h3 {
  font-family: 'Playfair-Display', 'Sans-Serif';
  font-weight: 300;
}

h4 {
  font-family: 'Playfair-Display', 'Sans-Serif';
  font-weight: 300;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}


/* =================================
  Base Layout Styles
==================================== */


/* ---- Reusable CSS ---- */

.flex-container {
  display: flex;
}


/* ---- Wrapper ---- */

.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


/* ---- Navigation header ---- */

.header-container {
  padding: 10px;
  background: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.name {
  margin: 0;
}

.main-nav {
  margin-top: 5px;
}

.name, .main-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}

.main-nav li a {
  text-transform: uppercase;
  font-size: 18px;
}

.main-nav li a:hover {
  border-bottom: 0.1px solid white;
  color: #C28851;
}
.name a {
  color: white;
}

.main-header {
  margin: 0 auto;
  width: 80%;
  max-width: 1150px;
  justify-content: center;
}


/* ---- Banner ---- */

.banner {
  background: url(../images/cover.png) no-repeat center center fixed;
  height: 100vh;
  padding: 17.2em 0;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner p {
  font-size: 30px;
  color: white;
}

.banner h2 {
  font-size: 3.5rem;
  color: white;
}

.subtitle ul {
  justify-content: center;
}


/* ---- About me ---- */

.about-me-heading {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

.about-me-heading h3 span {
  color: #E84C3F;
  border-bottom: 0.1px solid black;
}

.about-me-content {
  padding: 30px;
  justify-content: center;
}

.about-me-text {
  padding: 40px;
  width: 33%;
  flex-flow: column;
}


/* ---- Skills --- */

.skills-wrapper {
  background: #F6F6F6;
}

.skills-heading {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

.skills {
  justify-content: center;
}

.skills-heading h3 span {
  color: #23B4FF;
  border-bottom: 0.1px solid black;
}

.skills div {
  padding: 60px;
  text-align: center;
}

.devicons {
  font-size: 4rem;
}

.skills div p {
  font-size: 20px;
}


/* ---- Projects --- */

.project-wrapper {
  background: #363D47;
  color: white;
}

.project-item {
  justify-content: center;
  padding: 35px;
}

.project-heading {
  font-size: 30px;
  text-align: center;
  padding: 30px;
}

.project-heading h3 span {
  color: #FF5C5C;
  border-bottom: 0.1px solid white;
}

.project-image {
  padding-right: 50px;
}
.project-image:hover {
  opacity: 0.3;
}

.project-text {
  width: 25%;
  flex-flow: column;
}

.project-text h4 {
  font-size: 18px;
}

.project-link {
  text-align: center;
  border: 3px solid black;
  display: inline-block;
  padding: 20px 3px;
  border-radius: 0;
}


/* ---- Contact me ---- */

.contact-wrapper {
  background: #F8F8F8;
}

.contact-heading {
  text-align: center;
  font-size: 30px;
  padding: 5px;
}

.contact-content {
  text-align: center;
  font-size: 18px;
}

.contact-content a {
  color: black;
}

.contact-content a:hover {
  color: #25B4FF;
}

.social-icons {
  padding: 30px;
}

.fa-twitter {
  color: white;
}

.fa-twitter:hover {
  color: #25B4FF;
}

.fa-github {
  color: white;
}

.fa-github:hover {
  color: #25B4FF;
}

.fa-instagram {
  color: white;
}

.fa-instagram:hover {
  color: #25B4FF;
}

.fa-linkedin {
  color: white;
}

.fa-linkedin:hover {
  color: #25B4FF;
}


/* =================================
  Extras
==================================== */


/* animated cursor css */

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* =================================
  Media Queries
==================================== */
